{% extends 'single/base.html' %}

{% block main_area %}
<!--지도 나오는 부분-->
<div class="container-fluid">
    <div class="row">
        <div class="text-center my-5">
            <div id="map" style="width:100%;height: 750px;"></div>
            <script>
            var mapOptions = {
                center: new naver.maps.LatLng(37.54907, 127.07941),
                zoom: 17
            };
            var map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.54907, 127.07941),
                zoom: 17
            });
                $(document).ready(function() {
                // class를 사용하여 이벤트 리스너 등록
                $(".to-Target").on("click", function(e) {
                    e.preventDefault();
                    var getLatitude = $(this).data('latitude'); // jQuery data() 메소드 사용
                    var getLongitude = $(this).data('longitude');
                    
                    var targetZoom = new naver.maps.LatLng(getLatitude, getLongitude);
                    
                    map.setCenter(targetZoom);
                    map.setZoom(19, true);
                });
            });
            </script>
        </div>
    </div>
</div>

{% endblock %}