<!--네비바 빼놓은 부분-->
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">Dream Q-</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/detectme">기구별 혼잡도</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/mpa_select">놀이기구 선택</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/recomend">코스 추천!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/missing_child">실종 아동 찾기!</a>
            </li>
            
        </ul>
    </form>
</nav>