<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=43787af7932569c5bd4699f89764a34e&libraries=services,clusterer,drawing"></script>
</head>
<body>
    <h1>지도 연습</h1>

    <!--
        key : 
        43787af7932569c5bd4699f89764a34e
    -->


    <!-- <div id="map" style="width:500px;height:400px;"></div> -->
    <div id="map" style="width:100%;height:500px;"></div>
    <p><em>지도를 클릭해주세요!</em></p> 
    <div id="clickLatlng"></div>


    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(37.548372604004584, 127.08151105809443), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };
        
        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
        
        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new kakao.maps.Marker({ 
            // 지도 중심좌표에 마커를 생성합니다 
            position: map.getCenter() 
        }); 
        // 지도에 마커를 표시합니다
        marker.setMap(map);
        
        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
            
            // 클릭한 위도, 경도 정보를 가져옵니다 
            var latlng = mouseEvent.latLng; 
            
            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);
            
            var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
            message += '경도는 ' + latlng.getLng() + ' 입니다';
            
            var resultDiv = document.getElementById('clickLatlng'); 
            resultDiv.innerHTML = message;
            
        });
        </script>


    <!-- <script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = { //지도를 생성할 때 필요한 기본 옵션
        center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
        level: 3 //지도의 레벨(확대, 축소 정도)
    };
    
    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

    </script> -->



    <script>
        var map = new naver.maps.Map('map', {
        zoom: 10,
        center: new naver.maps.LatLng(37.3614483, 127.1114883),
        zoomControl: true,
        zoomControlOptions: {
            style: naver.maps.ZoomControlStyle.SMALL,
            position: naver.maps.Position.RIGHT_CENTER
        }
    });

    var infoWindow = new naver.maps.InfoWindow();

    var marker = new naver.maps.Marker({
        position: map.getCenter(),
        map: map,
        clickable: true
    });

    var pinkMarker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.4857788, 127.0659301),
        map: map,
        icon: {
            content: [
                '<div class="cs_mapbridge">',
                '<div class="map_group _map_group">',
                '<div class="map_marker _marker tvhp tvhp_big">',
                '<span class="ico _icon"></span>',
                '<span class="shd"></span>',
                '</div>',
                '</div>',
                '</div>'
            ].join(''),
            size: new naver.maps.Size(38, 58),
            anchor: new naver.maps.Point(19, 58),
        }
    });
    pinkMarker.setTitle('Pink Marker');

    var greenMarker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.123267, 127.0659301),
        map: map,
        title: 'Green Marker',
        icon: {
            content: [
                '<div class="cs_mapbridge">',
                '<div class="map_group _map_group crs">',
                '<div class="map_marker _marker num1 num1_big"> ',
                '<span class="ico _icon"></span>',
                '<span class="shd"></span>',
                '</div>',
                '</div>',
                '</div>'
            ].join(''),
            size: new naver.maps.Size(38, 58),
            anchor: new naver.maps.Point(19, 58),
        },
        draggable: true
    });

    var polyline = new naver.maps.Polyline({
        path: polylinePath,
        strokeColor: '#00CA00',
        strokeOpacity: 0.8,
        strokeWeight: 6,
        zIndex: 2,
        clickable: true,
        map: map
    });

    var polygon = new naver.maps.Polygon({
        paths: polygonPath,
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        zIndex: 1,
        clickable: true,
        map: map
    });

    var rectangle = new naver.maps.Rectangle({
        strokeColor: '#ff00ff',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#ff00ff',
        fillOpacity: 0.35,
        bounds: new naver.maps.LatLngBounds(
            new naver.maps.LatLng(37.5924988, 127.1291527),
            new naver.maps.LatLng(37.5315893, 127.2149296)),
        clickable: true,
        map: map
    });

    var circle = new naver.maps.Circle({
        strokeColor: '#0000ff',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#0000ff',
        fillOpacity: 0.35,
        center: new naver.maps.LatLng(37.3376733, 126.6954694),
        radius: 3000,
        zIndex: 100,
        clickable: true,
        map: map
    });

    var ellipse = new naver.maps.Ellipse({
        map: map,
        bounds: new naver.maps.LatLngBounds(
            new naver.maps.LatLng(37.1793196, 127.6795594),
            new naver.maps.LatLng(37.5398662, 128.4312422)
        ),
        strokeColor: 'yellowgreen',
        strokeOpacity: 1,
        strokeWeight: 3,
        fillColor: 'yellowgreen',
        fillOpacity: 0.3,
        clickable: true,
    });

    var CustomOverlay = function (options) {
        this._element = $('<div style="position:absolute;left:0;top:0;width:124px;background-color:#F2F0EA;text-align:center;border:2px solid #6C483B;">' +
            '<img src="./img/example/brown.png" style="width: 120px; height:130px">' +
            '<span style="font-weight: bold;"> Brown </span>' +
            '</div>');

        this._addListener();
        this.setPosition(options.position);
        this.setMap(options.map || null);
    };

    CustomOverlay.prototype = new naver.maps.OverlayView();
    CustomOverlay.prototype.constructor = CustomOverlay;

    CustomOverlay.prototype.setPosition = function (position) {
        this._position = position;
        this.draw();
    };

    CustomOverlay.prototype.getPosition = function () {
        return this._position;
    };

    CustomOverlay.prototype.onAdd = function () {
        var overlayLayer = this.getPanes().overlayLayer;

        this._element.appendTo(overlayLayer);
    };

    CustomOverlay.prototype.onClick = function (e) {
        if (e.stopPropagation) {
            e.stopPropagation();
        } else {
            e.cancelBubble = true;
        }
        naver.maps.Event.trigger(this, 'click', this);
    };

    CustomOverlay.prototype.draw = function () {
        if (!this.getMap()) {
            return;
        }

        var projection = this.getProjection(),
            position = this.getPosition(),
            pixelPosition = projection.fromCoordToOffset(position);

        this._element.css('left', pixelPosition.x);
        this._element.css('top', pixelPosition.y);
    };

    CustomOverlay.prototype.onRemove = function () {
        naver.maps.Event.removeDOMListener(this._clickListener);
        this._element.remove();
        this._element.off();
    };

    CustomOverlay.prototype._addListener = function () {
        this._clickListener = naver.maps.Event.addDOMListener(this._element[0], 'click', naver.maps.Util.bind(this.onClick, this));
    };

    var customOverlay = new CustomOverlay({
        map: map,
        position: new naver.maps.LatLng(37.2849483, 127.1229117)
    });

    naver.maps.Event.addListener(marker, "click", function () {
        infoWindow.setContent(getContentElement('DEFAULT MARKER'));
        infoWindow.open(map, marker);
    });

    naver.maps.Event.addListener(pinkMarker, "click", function () {
        infoWindow.setContent(getContentElement('HTML MARKER'));
        infoWindow.open(map, pinkMarker);
    });

    naver.maps.Event.addListener(greenMarker, "click", function () {
        infoWindow.setContent(getContentElement('HTML MARKER'));
        infoWindow.open(map, greenMarker);
    });

    naver.maps.Event.addListener(customOverlay, "click", function (overlay) {
        infoWindow.setContent(getContentElement('CUSTOM OVERLAY'));
        infoWindow.open(map, overlay.getPosition());
    });

    naver.maps.Event.addListener(polyline, "mousedown", function () {
        polyline.setOptions({
            strokeWeight: 20
        });
    });

    naver.maps.Event.addListener(polyline, "mouseup", function () {
        polyline.setOptions({
            strokeWeight: 6
        });
    });

    naver.maps.Event.addListener(polyline, "click", function () {
        alert('polyline click');
    });

    naver.maps.Event.addListener(polygon, "mouseover", function () {
        map.setCursor("pointer");

        polygon.setOptions({
            fillOpacity: 0.8
        });
    });

    naver.maps.Event.addListener(polygon, "mouseout", function () {
        map.setCursor("auto");

        polygon.setOptions({
            fillOpacity: 0.35
        });
    });

    naver.maps.Event.addListener(polygon, "click", function () {
        alert('polygon click');
    });

    naver.maps.Event.addListener(rectangle, "mousemove", function () {
        var strokeWeight = rectangle.get("strokeWeight");

        strokeWeight++;
        if (strokeWeight > 50) {
            strokeWeight = 1;
        }

        rectangle.setOptions({
            strokeWeight: strokeWeight
        });
    });

    naver.maps.Event.addListener(rectangle, "click", function () {
        alert('rectangle click');
    });

    var $radius = $({radius: 3000});

    naver.maps.Event.addListener(circle, "dblclick", function () {
        var radius = circle.getRadius();

        $radius[0].radius = radius;
        if (radius === 3000) {
            $radius.stop().animate({
                "radius": 6000
            }, {
                duration: 500,
                step: function (value) {
                    circle.setRadius(value);
                },

                complete: function () {
                    circle.setRadius(6000);
                }
            });
        } else {
            $radius.stop().animate({
                "radius": 3000
            }, {
                duration: 500,
                step: function (value) {
                    circle.setRadius(value);
                },

                complete: function () {
                    circle.setRadius(3000);
                }
            });
        }
    });

    naver.maps.Event.addListener(ellipse, "touchstart", function () {
        ellipse.setOptions({
            strokeColor: 'yellow',
            fillColor: 'yellow',
            fillOpacity: 0.3
        });
    });

    naver.maps.Event.addListener(ellipse, "touchend", function () {
        ellipse.setOptions({
            strokeColor: 'yellowgreen',
            fillColor: 'yellowgreen',
            fillOpacity: 0.3
        });
    });

    naver.maps.Event.addListener(ellipse, "click", function () {
        map.fitBounds(ellipse.getBounds());
    });

    naver.maps.Event.addListener(map, 'click', function () {
        infoWindow.close();
    });

    function getContentElement(titleString) {
        return '<div style="padding:20px;">' + titleString + '</div>';
    }


    </script>
    









</body>
</html>