<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소 선택하기</title>
</head>
<body>
    <div class="imgmap_css_container" id="mapImage">
        <img src='/static/image/nmap_h02.jpg' height="540px" width="50%"> 
        <a style="position: absolute; top: 66px; left: 240px; width: 77px; height: 46px;"  title="" href="" ><em></em></a>
        
        <div id="frontGate">
            <a style="position: absolute; top: 214px; left: 88px; width: 91px; height: 61px;" title="정문" ><em></em></a>
        </div>
        <div id="child">
            <a style="position: absolute; top: 338px; left: 187px; width: 78px; height: 69px;" title="어린이회관"><em></em></a>
        </div>
        <div id="whiteRect">
            <a style="position: absolute; top: 240px; left: 287px; width: 44px; height: 39px;" title="하얀네모" href="javascript:whiteRect()"  ><em style="background-color :yellow;"><button>asd</button></em></a></div>
        <div id="fountain">
            <a style="position: absolute; top: 309px; left: 279px; width: 43px; height: 41px;" title="회관문 위 분수" href="javascript:fountain()" ><em></em>
            </a>
        </div>
        <a style="position: absolute; top: 251px; left: 340px; width: 30px; height: 36px;" title="부채꼴" href="" ><em></em></a>
        <a style="position: absolute; top: 264px; left: 382px; width: 42px; height: 29px;" title="세모 하늘 두 개" href=""  ><em></em></a>
        
   
        
        <a style="position: absolute; top: 302px; left: 340px; width: 36px; height: 36px;" title="워터파크 같은 거" href="" ><em></em></a>
        <a style="position: absolute; top: 350px; left: 415px; width: 35px; height: 32px;" title="물개" href="" ><em></em></a>
        <div id="zoo">
            <a style="position: absolute; top: 222px; left: 447px; width: 89px; height: 88px;" title="동물원" href="javascript:zoo()" ><em></em></a>
        </div>
        <a style="position: absolute; top: 267px; left: 558px; width: 48px; height: 55px;" title="구의문쪽 농구장 그림"  ><em></em></a>
        <a style="position: absolute; top: 343px; left: 586px; width: 83px; height: 27px;" title="구의문 농구장 (text)" href="" ><em></em></a>
        <a style="position: absolute; top: 118px; left: 126px; width: 56px; height: 27px;" title="정문주차장(text)" href="" ><em></em></a>
        <a style="position: absolute; top: 142px; left: 647px; width: 64px; height: 27px;" title="후문 농구장(text)" href="" ><em></em></a>
        <a style="position: absolute; top: 48px; left: 599px; width: 52px; height: 25px;"  title="후문 주차장(text)" href="" ><em></em></a>
        <a style="position: absolute; top: 429px; left: 583px; width: 62px; height: 30px;" title="구의문주차장(text)" href="" ><em></em></a>
        <div id="nori">
            <a style="position: absolute; top: 73px; left: 530px; width: 71px; height: 63px;"  title="놀이공원" href="javascript:nori()" ><em></em></a>
        </div>
        <a style="position: absolute; top: 128px; left: 399px; width: 54px; height: 38px;" title="깃발 꼬불" href="" ><em></em></a>
        <a style="position: absolute; top: 194px; left: 642px; width: 48px; height: 37px;" title="원형" href="" ><em></em></a><!-- Created by Online Image Map Editor (http://www.maschek.hu/imagemap/index) -->
    </div>





    <script>
   
        function whiteRect() {
            let obj = document.getElementById("mapImage");
            let newDIV = document.createElement("div");
            newDIV.innerHTML = "하얀 네모입니다.";
            // newDIV.setAttribute("id", "myDiv");    보류
           
            newDIV.onclick = function() {
                let p = this.parentElement; // 부모 HTML 태그 요소
                p.removeChild(this); // 자신을 부모로부터 제거
            };	
            obj.appendChild(newDIV);
        }

        {% comment %} function fountain() {
            let obj = document.getElementById("mapImage");
            let newDIV = document.createElement("div");
            newDIV.innerHTML = "회문관 위 분수 입니다.";
    
            newDIV.onclick = function() {
                let p = this.parentElement; // 부모 HTML 태그 요소
                p.removeChild(this); // 자신을 부모로부터 제거
            };	
            obj.appendChild(newDIV);
        } {% endcomment %}

        function nori() {
            let obj = document.getElementById("mapImage");
            let newDIV = document.createElement("div");
            newDIV.innerHTML = "놀이공원";

            newDIV.onclick = function() {
                let p = this.parentElement; // 부모 HTML 태그 요소
                p.removeChild(this); // 자신을 부모로부터 제거
            };	
            obj.appendChild(newDIV);
        }

        function zoo() {
            let obj = document.getElementById("mapImage");
            let newDIV = document.createElement("div");
            newDIV.innerHTML = "동물원";

            newDIV.onclick = function() {
                let p = this.parentElement; // 부모 HTML 태그 요소
                p.removeChild(this); // 자신을 부모로부터 제거
            };	
            obj.appendChild(newDIV);
        }


    </script>





    <div class="content">
        <!-- 버튼을 눌러 텍스트가 생기거나 사라지게 할 수 있음 -->
        <button id="toggle-location">Toggle Location</button>
        <div id="location-status"></div>
    </div>




    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var toggleButton = document.getElementById('toggle-location');
            var locationStatus = document.getElementById('location-status');

            toggleButton.addEventListener('click', function() {
                // .location 클래스를 가진 요소를 생성하거나 제거
                var existingLocationElement = document.querySelector('.location');

                if (existingLocationElement) {
                    // .location 요소가 존재하면 제거
                    existingLocationElement.remove();
                } else {
                    // .location 요소가 존재하지 않으면 생성
                    var newLocationElement = document.createElement('div');
                    newLocationElement.className = 'location';
                    newLocationElement.textContent = '새로운 location 요소';
                    document.body.appendChild(newLocationElement);
                }

                // .location 클래스의 요소가 있는지 확인하고 상태 업데이트
                if (document.querySelector('.location')) {
                    locationStatus.textContent = '존재함';
                } else {
                    locationStatus.textContent = '없음';
                }
            });
        });
    </script>







    <div id="fountain">
        <a style="position: absolute; top: 309px; left: 279px; width: 43px; height: 41px;" title="회관문 위 분수" href="javascript:void(0);" id="fountain-link">
            <em></em>
        </a>
    </div>
    <div id="location-status"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var fountainLink = document.getElementById('fountain-link');
            var locationStatus = document.getElementById('location-status');

            fountainLink.addEventListener('click', function() {
                let obj = document.getElementById("fountain");
                let existingLocationElement = document.querySelector('.location');

                if (!existingLocationElement) {
                    let newDIV = document.createElement("div");
                    newDIV.className = 'location';
                    newDIV.innerHTML = "회문관 위 분수 입니다.";

                    newDIV.onclick = function() {
                        let p = this.parentElement; // 부모 HTML 태그 요소
                        p.removeChild(this); // 자신을 부모로부터 제거
                        updateLocationStatus();
                    };

                    obj.appendChild(newDIV);
                }

                updateLocationStatus();
            });

            function updateLocationStatus() {
                if (document.querySelector('.location')) {
                    locationStatus.textContent = '존재함';
                } else {
                    locationStatus.textContent = '없음';
                }
            }

            // 초기 상태 업데이트
            updateLocationStatus();
        });
    </script>


    </body>
</html>